div {
    border: 2px solid;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

textarea {
    min-width: 20ch;
    min-height: 2ch;
}

div.correct {
    border: 2px solid;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-color: #52d327;
}

div.incorrect {
    border: 2px solid;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-color: #ff4d4d;
}

textarea.correct {
    min-width: 20ch;
    min-height: 2ch;
    border-color: #52d327;
}